<h1>All movie list</h1>
<table class="table table-striped">
<tr>
    <th scope="col">Title</th>
    <th scope="col">Rating</th>
    <th scope="col">Release date</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  <% movies.forEach(function(movie) {%>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date %></td>
    </tr>
  <%});%>
</table>
<a class="btn btn-outline-primary" href="/movies/new" role="button">Add a new movie</a>